*.so
*.dll
*.exe
*.suo
*.sdf
*.user

/bin/
/bin.*/
/tmp/
**/out/
**/temp/
**/todo/

.idea/
.vscode/

utils/**/*.user*
utils/**/xcuserdata/
utils/**/[D|d]ebug/
utils/**/[R|r]elease/
/Readme.html
todo.ci
